* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
}

.poke {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.pokemons__btn {
  display: block;
  background-color: gold;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 20px auto 0;
}

.poke__title {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  padding: 20px 0 10px;
}

.poke__score {
  font-size: 70px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.poke__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 50px;
}

.poke__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  height: 280px;
  border-radius: 50%;
}

.poke__card-catch {
  background-color: forestgreen;
}

.poke__card-free {
  background-color: darkred;
}

.poke__name {
  color: #ffffff;
  font-size: 20px;
  transform: rotate(-10deg);
  margin-top: 30px;
}

.poke__img {
  max-width: 100px;
  margin: 20px 0 20px;
}

.poke__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poke__btn {
  display: block;
  background-color: gold;
  text-transform: uppercase;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 10px;
}